[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyqt5 = "*"
pyqt5-plugins = "*"
pillow = "*"
moviepy = "*"
pyinaturalist = "*"
humanfriendly = "*"
pandas = "*"
matplotlib = "*"
jsonpickle = "*"
opencv-python = "*"
tensorflow = "*"
torch = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.8"
